<?xml version="1.0"?>
<config>
	<modules>
		<Ktree_Advanceapi>
			<version>0.1.0</version>
		</Ktree_Advanceapi>
	</modules>
	<global>
		<models>
			<advanceapi>
				<class>Ktree_Advanceapi_Model</class>
			</advanceapi>
		</models>
		<helpers>
			<advanceapi>
				<class>Ktree_Advanceapi_Helper</class>
			</advanceapi>
		</helpers>
	</global>
</config>